@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: auto;
  height: 300px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 16px 0px;
}

ul.right-links {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

ul.left-links {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} c¿
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.content {
  display: flex;
}

.footer {
  display: flex;
}