@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* FLEX IN COLUMN TO ORDER THINGS VERTICALLY */
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header {
  color: #696969;
  height: 25px;
}

.footer {
  color: rgb(75, 75, 75);
  background-color: rgb(192, 192, 192);
  height: 25px;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 0 auto;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

img {
  width: 600px;
}

ul {
  list-style-type: none;
  /* REMOVE DEFAULT STYLING */
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}



a {
  text-decoration: none;
  color: inherit;
}